*.pyc
*.pyo
/*.patch
build*/
pyshtables.py
*.swp
*.orig
*.rej
*~
pstage/
scripts/oe-git-proxy-socks
sources/
meta-*/
!meta-clanton-bsp
!meta-intel
!meta-iot-devkit
!meta-galileo
!meta-oe
!meta-skeleton
!meta-hob
!meta-yocto
!meta-yocto-bsp
bitbake/doc/manual/html/
bitbake/doc/manual/pdf/
bitbake/doc/manual/txt/
bitbake/doc/manual/xhtml/
pull-*/
hob-image-*.bb
devkit-cache/

